<div class="form-group">
    <label for="groupOrder">Group order:</label>
    <input type="checkbox" class="form-control" name="groupOrder" ng-model="formData.customer.groupOrder">
</div>

<div class="form-group">
    <label for="comprehensiveOrder">Comprehensive order:</label>
    <input type="checkbox" class="form-control" name="comprehensiveOrder" ng-model="formData.customer.comprehensiveOrder">
</div>

<div class="form-group">
    <label for="summativieOrder">Summative order:</label>
    <input type="checkbox" class="form-control" name="summativieOrder" ng-model="formData.customer.summativeOrder">
</div>

<div class="form-group">
    <label for="periodicOrder">Periodic order:</label>
    <input type="checkbox" class="form-control" name="periodicOrder" ng-model="formData.customer.periodicOrder">
</div>

<div class="form-group">
    <label for="name">Your Organization Name (Customer):</label>
    <input type="text" class="form-control" name="name" ng-model="formData.customer.name">
</div>

<div class="form-group">
    <label for="attention">Attention:</label>
    <input type="text" class="form-control" name="attention" ng-model="formData.customer.attention">
</div>

<div class="form-group">
    <label for="address1">Address1:</label>
    <input type="text" class="form-control" name="address1" ng-model="formData.customer.address1">
</div>

<div class="form-group">
    <label for="address2">Address2:</label>
    <input type="text" class="form-control" name="address2" ng-model="formData.customer.address2">
</div>

<div class="form-group">
    <label for="city">City:</label>
    <input type="text" class="form-control" name="city" ng-model="formData.customer.city">
</div>

<div class="form-group">
    <label for="state">State:</label>
    <input type="text" class="form-control" name="state" ng-model="formData.customer.state">
</div>

<div class="form-group">
    <label for="zip">Zip:</label>
    <input type="text" class="form-control" name="zip" ng-model="formData.customer.zip">
</div>

<div class="form-group">
    <label for="phone">Phone #:</label>
    <input type="text" class="form-control" name="phone" ng-model="formData.customer.phone">
</div>

<div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" name="email" ng-model="formData.customer.email">
</div>

<div class="form-group">
    <label for="backup">Backup Contact:</label>
    <input type="text" class="form-control" name="backup" ng-model="formData.customer.backup">
</div>

<div class="form-group">
    <label for="backupEmail">Backup Contact Email:</label>
    <input type="text" class="form-control" name="backupEmail" ng-model="formData.customer.backupEmail">
</div>

<div class="form-group">
    <label for="backupPhone">Backup Contact Phone #:</label>
    <input type="text" class="form-control" name="backupPhone" ng-model="formData.customer.backupPhone">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.group" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>