
  
  <div id="form-container">
    <h2>Order</h2>
	<ul class="nav nav-tabs">
		<li ui-sref-active="active"><a ui-sref=".customer">Customer Information</a></li>
		<li ui-sref-active="active"><a ui-sref=".group" ng-if="formData.customer.groupOrder">Group Order Information</a></li>
		<li ui-sref-active="active"><a ui-sref=".comprehensive" ng-if="formData.customer.comprehensiveOrder">Comprehensive Solution</a></li>
		<li ui-sref-active="active"><a ui-sref=".summative" ng-if="formData.customer.summativeOrder">Summative Solution</a></li>
		<li ui-sref-active="active"><a ui-sref=".periodic" ng-if="formData.customer.periodicOrder">Periodic Solution</a></li>
		<li ui-sref-active="active"><a ui-sref=".implementation">Implementation</a></li>
		<li ui-sref-active="active"><a ui-sref=".billing">Billing</a></li>
	</ul>

      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form" ng-submit="processForm()">
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
      </form>
  
  </div>
  
  <!-- show our formData as it is being typed -->
  <pre>
    {{ formData }}
  </pre>


