<div class="panel panel-default">
 	<div class="panel-heading">Comprehensive Solution</div>
  	<div class="panel-body">
  		Comprehensive solution information
  	</div>
  	<button ng-click="addYear(formData.comprehensive.schoolYears)">Add another school year</button>
  	<button ng-click="removeYear(formData.comprehensive.schoolYears)">Remove school year</button>
  	<table class="table table-bordered">
  		<thead>
  			<th><Year</th>
  			<th ng-repeat="schoolYear in formData.comprehensive.schoolYears">{{schoolYear.year + '/' + (schoolYear.year % 1000 + 1)}}</th>
  		</thead>
  		<tr>
  			<td>Summative Subjects</td>
  			<td ng-repeat="schoolYear in formData.comprehensive.schoolYears">
  			</td>
  		</tr>
  		<tr>
  			<td>Summative Window</td>
  			<td ng-repeat="schoolYear in formData.comprehensive.schoolYears">
				<div class="form-group">
				  <label>
					<input type="radio" ng-model="schoolYear.summativeWindow" value="Fall">
					Fall {{schoolYear.year}}
				  </label>
				  <label>
					<input type="radio" ng-model="schoolYear.summativeWindow" value="Spring">
					Spring {{schoolYear.year + 1}}
				  </label>
				</div>			
  			</td>
  		</tr>
  		<tr>
  			<td></td>
  			<td ng-repeat="schoolYear in formData.comprehensive.schoolYears">
  				<span width="50%">CBT</span>
  				<span width="50%">PBT</span>
  			</td>
  		</tr>  		
  		<tr ng-repeat="grade in [3,4,5,6,7,8,9,10]">
  			<td>Grade {{grade}}</td>
  			<td ng-repeat="schoolYear in formData.comprehensive.schoolYears">
  			  	<span width="50%">
  			  		<input type="text" ng-model="schoolYear.grade[grade].cbt" name="">
  			  	</span>
  				<span width="50%">
  					<input type="text" ng-model="schoolYear.grade[grade].pbt" name="">
  				</span>
  			</td>
  		</tr>		
  		<tr>
  			<td>Total # of students</td>
  			<td  ng-repeat="schoolYear in formData.comprehensive.schoolYears">
  				{{schoolYear.totalStudents}}
  			</td>
  		</tr>
  		<tr>
  			<td>Price per student</td>
  			<td  ng-repeat="schoolYear in formData.comprehensive.schoolYears">
  			</td>
  		</tr>
  		<tr>
  			<td>Subtotal</td>
  			<td  ng-repeat="schoolYear in formData.comprehensive.schoolYears">
  			</td>
  		</tr>
  	</table>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.interests" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>