 <div id="form-container">
     <h2>Order Summary</h2>

     <div ng-show="formData.calculatingTax">Calculating tax. Please wait while we finish.<img src="images/ring.gif" /></div>
     <div ng-show="!formData.calculatingTax">
         <p>Order Total : {{formData.summary.total | currency}}</p>
         <span ng-show="formData.summary.exemption">
             <p>Taxable: {{formData.summary.taxable | currency}}</p>
             <p>Tax Exempt: {{formData.summary.exemption | currency}}</p>
         </span>
         <p>Estimated Sales Tax<sup>*</sup> : {{formData.summary.tax | currency}}</p>
         <p>Total with Tax : {{formData.summary.totalWithTax | currency}}</p>
         <p>* Sales tax estimated above will appear on your initial invoice and will be reconciled to the actual amount once final test volumes are known.</p>
         <p>* If your organization is exempt from sales tax, please ensure you have attached a copy of your current Certificate of Sales Tax Exemption on the previous page.</p>
         <div class="row">
             <div class="col-sm-2">
                 <button type="button" class="btn btn-default btn-warning" aria-label="Remove" ng-click="goBackToTheForm()">
                     <span class="glyphicon glyphicon-arrow-left"></span>
                     Edit Order
                 </button>
             </div>
             <div class="col-sm-2">
                 <button type="button" class="btn btn-default btn-primary" aria-label="Remove" ng-click="finalizeAndSubmit()">
                     Finish and Submit Order
                     <span class="glyphicon glyphicon-arrow-right"></span>
                 </button>
             </div>
         </div>
     </div>
</div>